*{
  font-family: 'Red Rose', cursive;
  text-align: center;
  margin: 0;
  padding: 0%;
}
.logoNav{
    height: 50px !important;
  }
  .imgcarr{
    height: 90vh;
    width: 100vw;
  }
  .navPadre{
  
    background-color: rgba(0, 0, 0, 0.6)!important;
  }
  .padreGral{
    /* background-image: url(https://i.pinimg.com/originals/5d/a0/4f/5da04f8387ab1bea3f9f11296902c6d2.gif); */
    background-image: url(https://i.pinimg.com/originals/a2/d9/01/a2d901aa209df00d993291024ddc6c2d.gif);
    /* background-image: url(https://knowledge.ni.com/servlet/rtaImage?eid=ka00Z000001Dy0V&feoid=00N0Z00000HEWRM&refid=0EM0Z000000Sih8); */
    /* background-image: url(https://images.unsplash.com/photo-1571639543218-31008677212d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80); */
    background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-size:cover; /* Encajamos la imagen al 100% del ancho */
	background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
 	font-family:helvetica, arial, sans-serif;
	line-height:20px;  
  }
  
  .padreServ{
    height: 90vh;
    margin: auto;
  }
  .single-services{
    margin: 40px;
  }
  .serviInd{
    text-shadow: 3px 3px 3px 3px whitesmoke;
 
  }
  .acercaPadre{
    height: 85vh;
    background-color: white;
      opacity: 0.9;
  }
  
  .padrePregMas {
    background-color: rgb(252, 249, 249);
    color: rgb(12, 12, 12)!important;
    opacity: 0.9;
    height: 80vh;
  }
  .section-headlineUlt{
    background-color: white;
    color: black!important;
    opacity: 0.9;
  }
  .padrePreg{
    background-color:white;
  }
  
  /* .parrPreg{
  color:black !important;
  
  } */
  .cartaPreg{
  color:black;
   /* border-radius: 5px; */
   background-color: white;
  
  }
  .cartaPreg:hover{
    background-color: rgb(151, 150, 150);
    color: rgb(0, 0, 0);
    border: solid 1px rgb(9, 68, 95) ;
  }
  .padreTeam{
    height: 80vh;
    padding: 50px;
  
  }

  .section-headline-Contact h2{
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    margin-top: 50px;
    position: relative;
    text-transform: capitalize;
    color: rgb(245, 245, 245) !important;
  
  }
  
  .section-headline h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    margin-top: 50px;
    position: relative;
    text-transform: capitalize;
    color: rgb(17, 17, 17);
  
  }
  
  .section-headline h2::after {
    border: 1px solid rgb(228, 225, 225);
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
  }
  .imgIndiv{
    border: solid 1px wheat;
    border-radius: 10px;
    height: 250px;
  }
  .imgIndiv:hover{
    border:solid 2px rgb(9, 68, 95) ;
  }
  .imgAlgunTrab{
  
    height: 300px;
    
  }
  .footer{
    background-color: black;
  }
  .TitulosGral{
    display: inline-block;
    position: relative;
  }
.TitulosGral::after, .TitulosGral::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: currentColor;
  top: 0.6em;
}
.TitulosGral::after{
  right: -120px;
}
.TitulosGral::before{
  left: -120px;
}
  
  @media (min-width: 300px) and (max-width: 850px) {
    .mapaCont{
      width: 90%;
    }
    .single-services{
      width: 95vw;
    }
    .imgAlgunTrab{
      width: 100%;
    }
    .formCont{
      width: 90%;
    }
    .cartaPreg{
      width: 95vw;
      height: 80vh;
    }
    .acercaPadre{
      width: 90vw;
      height: 90vh !important;
      overflow: scroll;
    }
    .padreServ{
      width: 90vw;
      height: 90vh !important;
    }
    .carousel{
      height: 50vh;
    }
    .padrePregMas{
      width: 80vw;
      height: 90vh;
      overflow: scroll;
    }

    .TitulosGral::after, .TitulosGral::before{
      content: '';
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: currentColor;
      top: 0.6em;
    }
    .TitulosGral::after{
      right: -60px;
    }
    .TitulosGral::before{
      left: -60px;
    }
  }
  #particles-js {
    background-color: black;
    opacity: 0.8;
    position : absolute;
    width:96%;
    height:85%;
    z-index:0;
}
.container-fluid h2 {
  position: relative;
  z-index: 1;
}
 